<div class="main">
    <div id="top-part">
        <div id="div_form">
            <form action="">
                <p>
                    <label for="chargeDistance">Расстояние между зарядами диполя:</label>
                    <input type="number" name="chargeDistance" id="chargeDistance"
                           required
                           step="1"
                           min="1"
                           max="300"
                           [(ngModel)]="chargeDistance"
                    [disabled]="Configuration.animation">
                    пикселей
                </p>

                <p>
                    <label for="chargeModule">Модуль заряда:</label>
                    <input type="number" name="chargeModule" id="chargeModule"
                           required
                           step="1"
                           min="1"
                           max="200"
                           [(ngModel)]="chargeModule"
                           [disabled]="Configuration.animation">
                    мкКл
                </p>

                <input type="button" value="поменять местами"
                       (click)="onSwapButtonClick($event)">
                <input type="button" value="анимация"
                       (click)="onAnimationButtonClick($event)">

                <br>
                <label>
                    <input type="radio" name="mode" (change)="mode = '+-'" checked>
                    Диполь
                </label>
                <label>
                    <input type="radio" name="mode" (change)="mode = '--'">
                    Отрицательные заряды
                </label>
                <label>
                    <input type="radio" name="mode"  (change)="mode = '++'" >
                    Положительные заряды
                </label>

                <br>
                <label>
                    <input type="checkbox" name="lines"
                           [(ngModel)]="drawLines">
                    Силовые линии
                </label>
                <br>
                <label>
                    <input type="checkbox" name="surfaces"
                           [(ngModel)]="drawSurfaces">
                    Эквипотенциальные поверхности
                </label>
                <br>
                <label>
                    <input type="checkbox" name="sound"
                           [(ngModel)]="playAudio">
                    Звук напряжённости
                </label>
                <br>
                <label>
                    <input type="checkbox" name="pics"
                           [(ngModel)]="usePictures">
                    Картинки зарядов
                </label>
            </form>
        </div>
        <div>
        </div>
    </div>

    <div id="div_canvas">
        <canvas id="canvas"
                width="{{Configuration.canvasWidth}}" height="{{Configuration.canvasHeight}}">

        </canvas>
    </div>

    <div>
        <p>Текущий x: {{ currentX }}</p>
        <p>Текущий y: {{ currentY }}</p>

        <p>Напряжённость в текущей точке: {{ electricFieldStrength | number:".0-2" }} Н/КЛ</p>
        <p>Потенциал в текущей точке: {{ potential | number:".0-2" }} В</p>

        <p>Сила Кулона одного заряда: {{ getForce() | number:".0-7"}} Н</p>
        <p>Напряжённость одного заряда: {{ getElectricFieldStrength() | number:".0-2" }} Н/КЛ</p>
        <p>Потенциал одного заряда: {{ getPotential() | number:".0-2" }} В</p>
    </div>
</div>
<!--<audio autoplay loop>-->
<audio autoplay loop>
    <source src="assets/sounds/sound.wav">
</audio>
