<div class="main">
    <div id="top-part">
        <div id="div_form">
            <form action="">
                <p>
                    <label for="hareSpeedInput">Расстояние между зарядами диполя:</label>
                    <input type="number" name="hareSpeedInput" id="hareSpeedInput"
                           required
                           step="5"
                           min="1"
                           max="500"
                           [(ngModel)]="chargeDistance">
                    пикселей
                </p>

                <p>
                    <label for="wolfSpeedInput">Модуль заряда:</label>
                    <input type="number" name="wolfSpeedInput" id="wolfSpeedInput"
                           required
                           step="5"
                           min="1"
                           max="200"
                           [(ngModel)]="chargeModule">
                    мкКл
                </p>

                <input type="button" value="поменять местами"
                       (click)="onSwapButtonClick($event)">

                <br>
                <label>
                    <input type="checkbox" name="languages" value="HTML"
                           [(ngModel)]="drawLines">
                    Силовые линии
                </label>
                <br>
                <label>
                    <input type="checkbox" name="languages" value="CSS"
                           [(ngModel)]="drawSurfaces">
                    Эквипотенциальные поверхности
                </label>
                <br>
            </form>
        </div>
        <div>
        </div>
    </div>

    <div id="div_canvas">
        <canvas id="canvas"
                width="{{Configuration.canvasWidth}}" height="{{Configuration.canvasHeight}}">

        </canvas>
    </div>

    <div>
        <p>Сила Кулона одного заряда: {{ getForce() }} Н</p>
        <p>Напряжённость одного заряда: {{ getElectricFieldStrength() | number:".0-2" }} Н/КЛ</p>
        <p>Напряжённость в текущей точке: {{ electricFieldStrength | number:".0-2" }} Н/КЛ</p>
        <p>Потенциал: {{ getPotential() | number:".0-2" }} В</p>
        <p>Потенциал в текущей точке: {{ potential | number:".0-2" }} В</p>
    </div>
</div>
